@import 'utilities/index',
        'base/index',
        'component/index',
        'layout/index';

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (max-width: $sm-break) {
    .grid-container {
        width: 320px;
    }
}


@media (min-width: $med-break) {

    .grid-container {
        grid-template-columns: 55px minmax(0, 1fr);
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    .grid-header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid-nav {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 20px;
        padding-top: 20px;
    }

    .grid-main {
        grid-template-columns: 50%;

    }

    .main-header,
    .alert,
    .traffic,
    .social,
    .members,
    .activity,
    .message,
    .setting {
        grid-column: 1 / span 2;
        min-width: 0;
    }

    .daily {
        grid-column: 1 / span 1;
        min-width: 0;
    }

    .mobile {
        grid-column: 2 / span 1;
        min-width: 0;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 42vw;
    }

    .traffic-header {
        display: flex;
        justify-content: space-between;
    }

    .traffic-nav {
        column-gap: 30px;
    }

    .daily {
        border-right: 2px solid $color-border;
    }

    .social-items {
        display: flex;
        column-gap: 10px;
    }

    .social-container {
        margin-top: 0;
    }

    .members-container,
    .activity-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .members-info {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .members-text {
        text-align: left;
    }

    .toggle-switch {
        width: 45%;
    }

    .arrow-right{
        border: 0;
        border-top: solid 2px $color-secondary;
        border-right: solid 2px $color-secondary;
        display: inline-block;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
    }
    
}

@media (min-width: $lg-break) {

    .traffic,
    .social {
        grid-column: 1 / span 2;
        width: 1024px;
        margin: 0 auto;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
        width: 512px;
        margin-left: auto;
    }

    .mobile,
    .activity,
    .setting {
        grid-column: 2 / span 1;
        width: 512px;
    }

    .widget-container-full,
    .widget-container-half {
        width: 100%;
    }


    .members,
    .message {
        border-right: 2px solid $color-border;
    }

    .message {
        border-bottom: none;
    }

    .members-info {
        width: 95%;
    }

    .members-img {
        width: 60px;
        height: 60px;
    }

    .toggle-switch {
        width: 65%;
    }

    #timezone {
        margin-top: 40px;
    }
}