// ==========================================================================
// Variables
// ==========================================================================


/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */


$ship-cove:            #7477BF;
$mulled-wine:          #4D4C72;
$de-york:              #81C98F;
$fountain-blue:        #51B6C8;
$dusty-gray:           #999999;
$black:                #000000;
$white:                #ffffff;
$gray:                 #777777;
$wild-sand:            #F5F5F5;
$silver:               #CCCCCC;




/* ============================================= */
/*         Base style colors                     */
/* ============================================= */

//main
$color-primary:         $ship-cove;
$color-secondary:       $mulled-wine;
$color-tertiary:        $wild-sand;
$color-accent:          $de-york;

//font
$font-color-primary:    $black;
$font-color-secondary:  $white;
$font-color-tertiary:   $gray;


//chart
$color-chart-primary:   $ship-cove;
$color-chart-secondary: $de-york;
$color-chart-tertiary:  $fountain-blue;

//buttons
$color-btn-cancel:      $dusty-gray;

//borders
$color-border:          $silver;


/* ============================================= */
/*         Font stacks                           */
/* ============================================= */







/* ============================================= */
/*         Font weights                          */
/* ============================================= */

$font-light: 300;
$font-regular:400;
$font-heavy: 700;






/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

$sm-break: 320px;
$med-break: 768px;
$lg-break: 1024px;