.main-header {
    display: flex;
}

.tab {
    flex-grow: 1;
}

.grid-header {
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}

.grid-nav {
    display: flex;
    justify-content: space-evenly;
}

.traffic-nav {
    display: flex;
    justify-content: space-around;
}

.social-container {
    display: flex;
}

.toggle-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.setting-button {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.alert-banner {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    background-color: $color-primary;
    padding: 0 20px;
    border-radius: 8px;
    margin: 20px 20px;
    color: $font-color-secondary;
    
}