.header-img {    
    width: 45px;
    height: 45px;
    border-radius: 50% 50%;
}

.nav-icon {
    width: 35px;
    height: 35px;
}

.social-image {
    width: 70px;
    height: 70px;
    border-radius: 50% 50%;
    background-color: $color-primary;
}

.members-img {
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
}