a{
    text-decoration: none;
    color: black;
  }
  
  a:visited{
    color: black;
  }
  
  .box::-webkit-scrollbar-track
  {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    border-radius: 5px
  }
  
  .box::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
    border-radius: 5px
  }
  
  .box::-webkit-scrollbar-thumb
  {
      background-color: black;
      border: 2px solid black;
    border-radius: 5px
  }  

  .icons{
    display: inline;
    float: right
  }
  
  .bell{
    transition: 0.5s;
    cursor: pointer
  }
  
  .fas{
    font-size: 25pt;
    padding-bottom: 10px;
    color: black;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .box{
    height: 0;
    position: absolute;
    overflow-y: scroll;
  }

  .notification-open {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 0px;
    top: 40px;
    left: -126px;
    margin-top: 5px;
    background-color: #F4F4F4;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    cursor: context-menu;
  }
  
  .fas:hover {
    color: #d63031;
  }
  
  .content{
    padding: 20px;
    color: black;
    vertical-align: middle;
    text-align: left;
  }
  
  .gry{
    background-color: #F4F4F4;
  }
  
  .top{
    color: black;
    padding: 10px
  }
  
  .cont{
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
  }
  
  .cont:empty{
    display: none;
  }
  
  .stick{
    text-align: center;  
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
  }
  
  .stick:hover{
    color: black;
  }
  
  .cent{
    text-align: center;
    display: block;
  }
  
  .sec{
    padding: 25px 10px;
    background-color: #F4F4F4;
    transition: 0.5s;
  }
  
  .profile{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 75px;
    float: left;
  }
  
  .txt{
    vertical-align: top;
    font-size: 1.25rem;
  }
  
  .sub{
    font-size: 1rem;
    color: grey;
  }
  
  .new{
    border-style: none none solid none;
    border-color: red;
  }
  
  .sec:hover{
    background-color: #BFBFBF;
  }

  