/* ============================================= */
/*              Base styles                      */
/* ============================================= */


* {
    font-family: 'Zen Maru Gothic', sans-serif;
    box-sizing: border-box;
}

h2 {
    font-size: 1.25em;
    font-weight: $font-regular;
}

h3 {
    text-transform: uppercase;
    font-weight: $font-regular;
}

























/* ============================================= */
/*              Typography                       */
/* ============================================= */

.grid-header {
    color: $font-color-secondary;
    background-color: $color-primary;

    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 13px;
        text-transform: capitalize;
    }
}

.grid-nav {
    padding: 10px 10px;
    background-color: $color-secondary;

    img {
        color: $font-color-secondary;
    }
}

.social-name {
    color: $color-secondary;
    font-size: 20px;
}

.social-number {
    color: $font-color-tertiary;
    font-size: 40px;
}

.members-container {
    text-align: center;
}
.members-text {
    a {
        text-decoration: none;
        color: $color-primary;
    }
}

.activity-container {
    text-align: center;
}

.form-field,
.form-area {
    color: $font-color-tertiary;
}








