/* ============================================= */
/*              Base styles                      */
/* ============================================= */


* {
    font-family: 'Zen Maru Gothic', sans-serif;
    box-sizing: border-box;
}


























/* ============================================= */
/*              Typography                       */
/* ============================================= */

.grid-header {
    background-color: $color-primary;
}

.grid-nav {
    padding: 10px 10px;
    background-color: $color-secondary;

    img {
        color: $font-color-secondary;
    }
}









